@charset "UTF-8";

#slideshow{
	width: 100px;
	height: 100px;
	position: relative;
	overflow:hidden;
}

/*#preview{
	transition:all 0.2s linear;
	-ms-transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	position: absolute;
}*/

/*.toRight0{
	transform: translateX(-100px);
}
.toRight1{
	transform: translateX(-200px);
}
.toRight2{
	transform: translateX(-300px);
}*/