body{
	color:#333;
	background-color: #ccc;
	margin:1em 10%;
}
h1{
	color: #333;
	background-color: transparent;
}
a{
	color: #c60;
	background-color: transparent;
	font-weight: bold;
	text-decoration: none;
}
li{
	list-style: none;
	padding:1em;
	float:left;
}

img{
	display: block;
	width: 300px;
	height: 200px;
	clear: both;
}